html{
    background: url('bgimg.gif') ;
    font-family: sans-serif;
        
}
*{
    margin: 0px;
    padding: 0px;
}
.keys{
     display: flex;
     flex: 1;
     min-height: 100vh;
     justify-content: center;
     align-items: center;
     /* position: relative;
     top: 260px; */
     
}
.key{
    padding: 0.5rem 0.5rem;
    border: 1px solid #f55ed4;
    color: beige;
    margin: 1.5rem;
    font-weight: bolder;
    text-align: center;
    transition: all 0.07;
}
kbd {
    font-size: 2rem;
    display: block;
    width: 2.3rem;
    margin: auto;
    color: #f55ed4;
}
.sound{
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #2eb2ff;
    letter-spacing: 0.5;
}
.playing{
    border-color: #2eb2ff;
    box-shadow: 0 0 1rem #f55ed4;
    transform: scale(1.2);
}